BasedOnStyle:  Google

# 缩进
IndentWidth:     4

---
Language:        Cpp


# 注释换行
ReflowComments: false

# 注释对齐
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

# 访问符缩进
AccessModifierOffset: -2

# 赋值对齐
AlignConsecutiveAssignments: true

# 声明对齐
AlignConsecutiveDeclarations: true

# 宏换行符左移
AlignEscapedNewlinesLeft: false

AllowAllParametersOfDeclarationOnNextLine: true

# 参数换行
BinPackArguments: true 
BinPackParameters: true

# 运算符换行
BreakBeforeBinaryOperators: NonAssignment

ColumnLimit:     80

ConstructorInitializerIndentWidth: 8

# 太长换行缩进
ContinuationIndentWidth: 8

SortIncludes:    false

SpacesBeforeTrailingComments: 4

Standard:        Cpp11
...

